<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nintendo TVii</title>
    <meta content="Nintendo TVii" property="og:title" />
    <meta content="A clone of Nintendo TVii!" property="og:description" />
    <meta content="https://vino.stupidverse.xyz/main" property="og:url" />
    <meta
      content="https://vino.stupidverse.xyz/src/tvii.png/"
      property="og:image"
    />
    <meta content="#fc0345" data-react-helmet="true" name="theme-color" />
    <link rel="icon" type="image/x-icon" href="../src/favicon.ico" />
    <link rel="stylesheet" href="../css/vino.min.css" />
    <style>
      .hidden-element {
        display: none;
      }

      #mii-info {
        display: flex;
        align-items: center;
      }

      #avatar {
        width: 70px;
        height: 70px;
        margin-right: 10px;
      }

      #nnid-name {
        font-size: 18px;
        color: #fff;
      }
    </style>
  </head>
  <body id="main-body" onload="getName();" onload>
    <main>
      <div
        data-sound="SE_A_DECIDE_TOUCH_OFF"
        onclick="tvii.showSettingsModal();"
        navi_scroll=""
        id="mii-info"
      >
        <a href="javascript:void(0);"> <img id="avatar" src="" /></a>
        <p id="nnid-name">Placeholder....</p>
      </div>
      <div id="icon-wrapper">
        <div class="icon-container" id="favorites-container">
          <img src="../src/favorites.png" />
          <span class="icon-label" id="favorites-text">Favorites</span>
        </div>
        <div class="icon-container" id="tv-container">
          <img src="../src/tv.png" />
          <span class="icon-label" id="tv-text">TV</span>
        </div>
        <div class="icon-container" id="movies-container">
          <img src="../src/movies.png" />
          <span class="icon-label" id="movies-text">Movies</span>
        </div>
        <div class="icon-container" id="sports-container">
          <img src="../src/sports.png" />
          <span class="icon-label" id="sports-text">Sports</span>
        </div>
        <div class="icon-container" id="tvtag-container">
          <img src="../src/tv-tag.png" />
          <span class="icon-label" id="tvtag-text">TV Tag</span>
        </div>
      </div>
      <div id="exit-wrapper">
        <a
          navi_target=""
          class="exit-button"
          data-sound="SE_COMMON_FINISH_TOUCH_OFF"
          onclick="closeTVii();"
        >
        </a>
      </div>
      <div id="news-wrapper">
        <a class="news-button" onclick="beginDrawing();"> </a>
      </div>

      <br /><br /><br /><br /><br /><br /><br />
      <div class="hidden-element" id="memoView">
        <h2 class="hidden-element" id="memoText">Here’s your drawing!</h2>
        <br />
        <img class="hidden-element" id="memo" src="" />
        <br />
        <button
          class="hidden-element"
          onclick="resetDrawing()"
          id="resetButton"
        >
          Reset
        </button>
      </div>
    </main>
    <script src="../js/vino.min.js"></script>
  </body>
</html>
