<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nintendo TVii</title>
    <meta content="Nintendo TVii - Home" property="og:title" />
    <meta content="A clone of Nintendo TVii!" property="og:description" />
    <meta content="https://vino.stupidverse.xyz/main" property="og:url" />
    <meta
      content="https://vino.stupidverse.xyz/src/tvii.png/"
      property="og:image"
    />
    <meta content="#fc0345" data-react-helmet="true" name="theme-color" />
    <link rel="icon" type="image/x-icon" href="../src/favicon.ico" />
    <link rel="stylesheet" href="../css/vino.css" />
  </head>
  <body id="main-body" onload="getName(); getMii();">
    <main>
      <div
        data-sound="SE_A_DECIDE_TOUCH_OFF"
        onclick="tvii.showSettingsModal();"
        navi_scroll=""
        id="mii-info"
      >
        <a href="javascript:void(0);"> <img id="avatar" src="" /></a>
        <p id="nnid-name">Loading...</p>
      </div>
      <div id="icon-wrapper">
        <div class="icon-container" id="favorites-container">
          <button class="image-button" onclick="handleFavoritesClick()">
            <img src="../src/favorites.png" alt="Favorites" />
          </button>
          <span class="icon-label" id="favorites-text">Favorites</span>
        </div>
        <div class="icon-container" id="tv-container">
          <button class="image-button" onclick="handleTVClick()">
            <img src="../src/tv.png" alt="TV" />
          </button>
          <span class="icon-label" id="tv-text">TV</span>
        </div>
        <div class="icon-container" id="movies-container">
          <button class="image-button" onclick="handleMoviesClick()">
            <img src="../src/movies.png" alt="Movies" />
          </button>
          <span class="icon-label" id="movies-text">Movies</span>
        </div>
        <div class="icon-container" id="sports-container">
          <button class="image-button" onclick="handleSportsClick()">
            <img src="../src/sports.png" alt="Sports" />
          </button>
          <span class="icon-label" id="sports-text">Sports</span>
        </div>
        <div class="icon-container" id="tvtag-container">
          <button class="image-button" onclick="handleTVTagClick()">
            <img src="../src/tv-tag.png" alt="TV Tag" />
          </button>
          <span class="icon-label" id="tvtag-text">TV Tag</span>
        </div>
      </div>
      <div id="exit-wrapper">
        <a
          navi_target=""
          class="exit-button"
          data-sound="SE_COMMON_FINISH_TOUCH_OFF"
          onclick="closeTVii();"
        >
        </a>
      </div>
      <div id="news-wrapper">
        <a class="news-button" href="/olv/test"> </a>
      </div>
      <div navi_scroll="" id="search">
        <a href="javascript:void(0);" onclick="searchY();"
          ><input type="text" class="search" />
        </a>
      </div>
    </main>
    <script src="../js/vino.js"></script>
  </body>
</html>
