<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nintendo TVii Setup</title>
    <link rel="stylesheet" href="../css/vino.min.css" />
  </head>
  <body id="main-body">
    <main>
      <img src="../src/vinoLogo.png" />
      <h1>Welcome to Nintendo TVii!</h1>
      <p>
        I think I need more stuff here but for now just click the button because
        idk what to put LOL
      </p>
      <a href="/main" class="button">Go to TVii</a>
    </main>
    <script src="../js/vino.min.js"></script>
  </body>
</html>
