<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nintendo TVii - Miiverse Test</title>
    <meta content="Nintendo TVii - Home" property="og:title" />
    <meta content="A clone of Nintendo TVii!" property="og:description" />
    <meta content="https://vino.stupidverse.xyz/olv/test/" property="og:url" />
    <meta
      content="https://vino.stupidverse.xyz/src/tvii.png/"
      property="og:image"
    />
    <meta content="#fc0345" data-react-helmet="true" name="theme-color" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/src/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/src/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/src/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="/src/favicons/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/src/favicons/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <link rel="shortcut icon" href="/src/favicons/favicon.ico" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta
      name="msapplication-config"
      content="/src/favicons/browserconfig.xml"
    />
    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" href="../css/vino.css" />
  </head>

  <body>
    <main>
      <h1>Click the button to begin drawing!</h1>
      <button id="button" onclick="beginDrawing();">darw</button>
      <br />
      <div class="hidden-element" id="memoView">
        <h2 class="hidden-element" id="memoText">Here’s your drawing!</h2>
        <br />
        <img class="hidden-element" id="memo" src="" />
        <br />
        <button
          class="hidden-element"
          onclick="resetDrawing()"
          id="resetButton"
        >
          Reset
        </button>
      </div>
    </main>
    <script src="../js/vino.js"></script>
  </body>
</html>
