<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nintendo TVii</title>
    <meta content="Nintendo TVii - Setup" property="og:title" />
    <meta content="A clone of Nintendo TVii!" property="og:description" />
    <meta content="https://vino.stupidverse.xyz/" property="og:url" />
    <meta
      content="https://vino.stupidverse.xyz/src/tvii.png"
      property="og:image"
    />
    <meta content="#fc0345" data-react-helmet="true" name="theme-color" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/src/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/src/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/src/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="/src/favicons/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/src/favicons/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <link rel="shortcut icon" href="/src/favicons/favicon.ico" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta
      name="msapplication-config"
      content="/src/favicons/browserconfig.xml"
    />
    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" href="../css/setup.css" />
  </head>

  <body onload="getMii();">
    <div class="container">
      <img src="../src/vinoLogo.png" alt="Nintendo TVii" class="logo" />
      <div class="top">
        <div class="description">
          Nintendo TVii makes watching TV simple and fun by bringing together
          <br />
          everything you need on the GamePad.
          <a href="#" class="learn-more">Learn more.</a>
        </div>
        <p id="zipcode">To begin, enter your Zip Code below.</p>
        <div class="zip-input">
          <img id="avatar" alt="Avatar" class="avatar" />
          <input type="text" id="zipCodeInput" />
        </div>
      </div>
    </div>
    <div id="exit-wrapper">
      <a
        navi_target=""
        class="exit-button"
        data-sound="SE_COMMON_FINISH_TOUCH_OFF"
        onclick="closeTVii();"
      ></a>
    </div>
    <div id="next-wrapper">
      <a
        navi_target=""
        class="next-button"
        data-sound="SE_COMMON_FINISH_TOUCH_OFF"
        href="/main"
      ></a>
    </div>
    <script src="../js/vino.js"></script>
  </body>
</html>
